body {
  background-color: #000000;
  background-image: url("img/bg_stars.gif");
  color: #ff0000;
}

a:link {
  color: #ff4c4c;
}

a:visited {
  color: #ff4c4c;
}

a:hover {
  color: #ffffff;
}

.header {
  /* Estilos para o header */
}

.content {
  /* Estilos para o conteúdo principal */
}

.footer {
  margin: 5px;
}
